body {
  margin: 30px;
  font-family: 'Questrial', sans-serif;
  align-items: center;
  background-color: #fafafa;
  text-align: center;
}
.foto{
  width: 11%;
  height: auto;
  margin:5px auto;
  border: 1px solid gray;
}
.ortala {
  margin: auto;
  padding: .5%;
}
.yuvarla{
    border-radius: 100%;
}
.muzaffer{
  font-family: 'Poiret One', cursive;
}
.bitisik{margin: 20px 0 0 0;}
span{color: gray;}

.btn{
  padding: 7px;
  border: 1px solid gray;
  background-color: #fcfcfc ;
  border-radius: 4px;
  color: black;
  text-decoration:none;
  transition-duration: 0.5s;
}
.btn:hover{
  background-color: gray ;
  color: white;
  transition-duration: 0.2s;

}
a{
  color: red;
  text-decoration: none;
}
.fa{
  color: #8a8a8a;
  transition-duration: 0.5s;
  margin: 5px;
}
.fa:hover{
  color: red;
  transition-duration: 0.2s;
}
li{
  list-style-type: none
}
.projeler{
  margin: 15px;
}
.mail{
  color: blue;
}
