body{
    background-color: black;
    align-items: center;
    align-content: center;
    align-self: center;
}
#main{
    margin: auto;
    width: 945px;
    border: 2px solid yellow;
    background-color: #000;

}
#buttons{
    margin: auto;
    width: 945px;
    align-items: center;
    align-content: center;
    align-self: center;
}
.fas{
    color:red;
    margin: 10px;
    font-size: 50px;
}